// Typsnitt
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@300;500&family=Mulish:wght@300;400&family=Playfair+Display+SC:wght@400;700&family=Rokkitt:wght@300;500&display=swap');
// Variabler
$brown: #342e26;
$brown-dark: #1d1a16;
$nature-white: #f5f2ea;
// $btn-color: rgb(187, 143, 48);
$accent: rgb(226,
176,
68);
$accent-bright: rgb(255,
184,
31);
$accent-dull: rgb(172,
145,
88);
$green: rgb(81,
105,
68);
// Mixins
@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 500px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background: $brown;
    font-family: 'Dosis', sans-serif;
}

#super-container {
    max-width: 1920px;
    margin: auto;
}

header {
    height: 800px;
    width: 100%;
    background-image: url("../barber-shop-gb1eec4a8f_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    @include tablet {
        background-image: url("../barber-shop-800.jpg");
    }
    @include mobile {
        height: 500px;
        background-image: url("../barber-shop-500.jpg");
    }
}

nav {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    ul {
        list-style-type: none;
        a {
            display: flex;
            padding: 0.5rem;
            color: $nature-white;
            text-decoration: none;
            transition: 0.2s;
            @include desktop {
                &:hover {
                    color: $accent-bright;
                }
            }
        }
    }
}

// Rubriker
h1 {
    font-family: "Playfair Display SC", serif;
    color: $nature-white;
    padding: 6rem 0 0 4rem;
    font-size: 6rem;
    @include tablet {
        font-size: 4rem;
    }
    @include mobile {
        font-size: 2rem;
        width: fit-content;
        margin: auto;
        padding: 3rem 0 0 0;
    }
}

h2 {
    font-size: 2rem;
}

h2,
h3,
h4 {
    font-family: "Cantarell", sans-serif;
}

main,
.main {
    max-width: 750px;
    margin: auto;
}

.welcome {
    padding: 4rem 1rem;
    text-align: center;
    background: $nature-white;
    font-size: 1.5rem;
    p {
        max-width: 400px;
        margin: auto;
    }
    @include mobile {
        padding: 2rem 1rem;
    }
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.thank-you {
    background: $green;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.hasse-img {
    img {
        border-radius: 100%;
        object-fit: cover;
        width: 150px;
        height: 150px;
        @include mobile {
            margin: auto;
            display: block;
        }
    }
}

.text-container {
    p {
        margin-bottom: 1rem;
    }
}

// bokning
#booking-container {
    padding: 4rem 1rem;
    color: $nature-white;
    form {
        padding-bottom: 2rem;
        position: relative;
        label,
        input {
            display: block;
        }
        input {
            padding: 0.6rem;
            border: none;
        }
        select,
        input {
            margin-bottom: 1rem;
            width: 100%;
        }
        // Lägg till pil på select-rutor
        .select-container {
            position: relative;
            width: 100%;
            &::after {
                content: "v";
                color: black;
                position: absolute;
                top: 0.3rem;
                right: 0.5rem;
            }
        }
        select {
            -webkit-appearance: unset;
            margin-right: 0.5rem;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            color: black;
            position: relative;
            display: block;
            // border-radius: 0;
        }
        .btn-dates {
            padding: 0.3rem;
            background: $accent;
            border: none;
            margin: 0 0.5rem;
            font-weight: bold;
            @include desktop {
                &:hover {
                    background: $accent-bright;
                    cursor: pointer;
                }
            }
        }
        .dates-container {
            margin: 1rem 0 2rem 0;
        }
        .no-click {
            background: $accent-dull;
            @include desktop {
                &:hover {
                    background: $accent-dull;
                }
            }
        }
    }
}

.submit-btn {
    background: $accent;
    border: none;
    padding: 0.4rem;
    margin-top: 1rem;
    width: 70px;
    font-size: 1.1rem;
    transition: 0.2s;
    position: absolute;
    right: 0;
    bottom: 0;
    @include desktop {
        &:hover {
            background: $accent-bright;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

// Om oss
#about-container {
    background-image: url("../haircut-ga03137ddf_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    padding: 7rem 1rem;
    background-position-y: 20%;
    color: $nature-white;
    .text-container {
        margin-right: 1rem;
        @include mobile {
            margin: 0;
            margin-bottom: 1rem;
        }
    }
    @include tablet {
        background-image: url("../haircut-800.jpg");
        padding: 5rem 1rem;
    }
    @include mobile {
        padding: 4rem 1rem;
    }
}

// Kontakt
#contact-container {
    color: $nature-white;
    padding: 4rem 1rem;
    .contact-links {
        text-align: center;
        width: 320px;
        i {
            font-size: 2.5rem;
        }
        a {
            color: $accent;
            display: block;
            margin: 0.5rem 0 1rem 0;
            transition: 0.2s;
            @include desktop {
                &:hover {
                    letter-spacing: 1px;
                    color: $accent-bright;
                }
            }
        }
        @include mobile {
            margin: 2rem auto 0 auto;
            width: fit-content;
        }
    }
}

// Footer 
footer {
    padding: 3rem 1rem;
    background: $brown-dark;
    color: $nature-white;
    .flex {
        margin: auto;
        width: fit-content;
    }
    #copyright,
    #footer-contact,
    #footer-adress {
        margin: 0 1rem;
    }
    #footer-contact {
        ul {
            list-style-position: inside;
            a {
                // display: flex;
                color: $accent;
                transition: 0.2s;
                @include desktop {
                    &:hover {
                        color: $accent-bright;
                    }
                }
            }
        }
    }
    @include mobile {
        #footer-contact,
        #footer-adress {
            margin-top: 1rem;
        }
    }
}

// Ändra riktning på flex på mobiler
@include mobile {
    footer,
    #contact-container,
    #about-container,
    #booking-container {
        .flex {
            flex-direction: column;
        }
    }
}