// Variabler
$brown-dark: #342e26;
$nature-white: #f5f2ea;
// $btn-color: rgb(187, 143, 48);
$accent: rgb(226, 176, 68);
// Mixins
@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $brown-dark;
}

#super-container {
    max-width: 1920px;
    margin: auto;
}

header {
    height: 800px;
    width: 100%;
    background-image: url("../barber-shop-gb1eec4a8f_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    // img {
    //     position: fixed;
    //     z-index: -1;
    //     width: 100%;
    // }
}

main,
.main {
    max-width: 750px;
    margin: auto;
}

h1 {
    color: blueviolet;
}

.welcome {
    padding: 4rem 1rem;
    text-align: center;
    background: $nature-white;
}

.flex {
    display: flex;
}

.hasse-img {
    img {
        border-radius: 100%;
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
}

// bokning
#booking-container {
    padding: 4rem 0;
    color: $nature-white;
    form {
        label,
        input {
            display: block;
        }
        input {}
    }
}

.submit-btn {
    background: $accent;
    border: none;
    padding: 0.4rem;
    margin-top: 1rem;
    width: 50px;
    transition: 0.2s;
    // @include desktop {
    //     &:hover {}
    // }
}

// Om oss
#about-container {
    background-image: url("../haircut-ga03137ddf_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    padding: 6rem 1rem;
    background-position-y: 20%;
    color: $nature-white;
}

// Kontakt
#contact-container {
    color: $nature-white;
    padding: 4rem 1rem;
    .contact-links {
        text-align: center;
        width: 220px;
        i {
            font-size: 2.5rem;
        }
        a {
            color: $accent;
            display: block;
            margin: 0.5rem 0 1rem 0;
            transition: 0.2s;
            @include desktop {
                &:hover {
                    letter-spacing: 1px;
                }
            }
        }
    }
}

// Footer 
footer {
    padding: 3rem 1rem;
}